---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BigTitleItem from "../../components/BigTitleItem.astro";

const blogs = (await getCollection("blog"))
  .filter((blog) => !Boolean(blog.data.hidden))
  .sort((a, b) => {
    return (
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
    );
  });
---

<BaseLayout title="Blog">
  <h1 class="sr-only">Some things I wrote</h1>
  <ol
    class="container pt-56 m-auto -mt-16 space-y-16 lg:space-y-72 pb-72 min-h-screen"
  >
    {blogs.map((blog) => <BigTitleItem baseHref="blog" {...blog} />)}
  </ol>
</BaseLayout>
