* {
  @apply text-slate-900;
  font-display: "fallback";
}

body {
  @apply bg-slate-100;
  font-family: "Space Grotesk", "Arial", "Helvetica", "sans-serif";
}

main {
  @apply bg-slate-100;
}

a {
  @apply focus:bg-yellow-400 p-6 md:p-4 focus:outline-none inline-block text-lg transition-all;
}

#markdown-content .container > blockquote {
  @apply px-6 md:px-0;
}

#markdown-content .container > blockquote p {
  @apply grid-cols-1 max-w-lg m-auto;
}

#markdown-content .container > blockquote p em {
  @apply font-bold md:text-3xl;
}

#markdown-content ol,
#markdown-content p {
  @apply text-2xl md:text-3xl mb-36 gap-x-16 max-w-4xl m-auto font-light;
}

#markdown-content ol li {
  @apply list-decimal list-outside mb-2;
}

#markdown-content ol li::marker {
  @apply text-gray-300 text-4xl;
  font-family: "caveat";
}

#markdown-content .container > p:has(em) {
  @apply grid;
  grid-template-columns: 200px 1fr;
}

#markdown-content .container > p em > a {
  @apply text-sm;
}

@media screen and (max-width: 768px) {
  #markdown-content .container > p:has(em) {
    @apply grid-cols-1;
  }

  #markdown-content .container > p:has(em) em:first-child {
    @apply text-2xl mb-4;
  }

  #markdown-content .container > p:not(:has(img)) {
    @apply px-6;
  }
}

#markdown-content .container > h2 {
  @apply text-4xl max-w-4xl m-auto mb-4 mt-20 px-6 md:px-0 font-extrabold;
}

#markdown-content .container > p:has(img) {
  @apply max-w-full my-48 relative;
}

#markdown-content .container > p img {
  @apply col-span-2 w-screen max-w-[100vw] relative;
  left: calc(-50vw + 50%);
}

#markdown-content .container > p > strong {
  @apply normal-case text-center w-full block mb-3 text-2xl;
  font-family: "caveat";
}

#markdown-content .container > p > strong:after {
  @apply block;
  content: url("/arrow.svg");
}

#markdown-content .container p:nth-of-type(3n + 1) > strong:after {
  @apply transform -scale-x-100;
}

#markdown-content .container > p > em:first-child {
  @apply uppercase text-lg not-italic font-bold;
}

#markdown-content .container > p:has(> a) {
  @apply text-center my-36;
}

#markdown-content .container > p a {
  @apply p-3 -m-3 text-2xl md:text-3xl underline underline-offset-1;
}

#markdown-content .container > p:has(> a) a {
  @apply p-4 text-2xl;
}

#markdown-content .container > p:has(> a) a:after {
  @apply ml-2 mr-1 inline-block transition-all;
  content: "→";
}

#markdown-content .container > p:has(> a) a:focus:after,
#markdown-content .container > p:has(> a) a:hover:after {
  @apply translate-x-2;
}
