/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
* {
  @apply text-slate-900;
}

body {
  @apply bg-slate-100;
  font-family: "Space Grotesk", "Arial", "Helvetica", "sans-serif";
}

a {
  @apply focus:bg-yellow-400 p-2 focus:outline-none inline-block text-lg transition-all;
}

#markdown-content p a {
  @apply underline underline-offset-1;
}

#markdown-content .container > blockquote p {
  @apply grid-cols-1 max-w-lg m-auto;
}

#markdown-content .container > blockquote p em {
  @apply font-bold text-3xl;
}

#markdown-content ol,
#markdown-content p {
  @apply text-2xl mb-36 gap-x-16 max-w-4xl m-auto font-light;
}

#markdown-content ol li {
  @apply list-decimal list-outside mb-2;
}

#markdown-content ol li::marker {
  @apply text-gray-300 text-4xl;
  font-family: "caveat";
}

#markdown-content .container > p:has(em) {
  @apply grid;
  grid-template-columns: 150px 1fr;
}

#markdown-content .container > h2 {
  @apply text-3xl max-w-4xl m-auto mb-4 mt-20 font-extrabold;
}

#markdown-content .container > p:has(img) {
  @apply max-w-full my-48 relative;
}

#markdown-content .container > p img {
  @apply col-span-2 w-screen max-w-[100vw] relative;
  left: calc(-50vw + 50%);
}

#markdown-content .container > p > strong {
  @apply normal-case text-center w-full block mb-3;
  font-family: "caveat";
}

#markdown-content .container > p > strong:after {
  @apply block;
  content: url("/arrow.svg");
}

#markdown-content .container p:nth-of-type(3n + 1) > strong:after {
  @apply transform -scale-x-100;
}

#markdown-content .container > p > em:first-child {
  @apply uppercase text-lg not-italic font-bold;
}

#markdown-content .container > p:has(> a) {
  @apply text-center my-36;
}

#markdown-content .container > p:has(> a) a {
  @apply border-2 p-4 border-black hover:bg-yellow-300;
}

#markdown-content .container > p:has(> a) a:after {
  @apply ml-2 mr-1 inline-block transition-all;
  content: "→";
}

#markdown-content .container > p:has(> a) a:focus:after,
#markdown-content .container > p:has(> a) a:hover:after {
  @apply translate-x-2;
}

footer {
  background-color: var(--footer-color);
}
