---
import OtherProjects from '../components/OtherProjects.astro';
import PageProgress from '../components/PageProgress.astro';
import { PageTransition } from '../components/PageTransition';
import { ScrollingText } from '../components/ScrollingText';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout description="About sander" title="About">
  	<PageTransition background="#E6921C" client:load />
	<ScrollingText text="About" background="#E6921C" client:load />
	<article id="markdown-content">
		<img class="w-full" aria-hidden="true" src="/public/sander.jpg" alt="A photo of sander boer"/>
		<h1 class="sr-only">Sander Boer</h1>

		<section class="mx-4 text-center font-extrabold mb-28 mt-32">
			<h2 class="text-7xl">A passionate developer with a creative mind</h2>
		</section>
		<section class="container m-auto">
			<p>
				<em>Who am I</em>
				<span>
					Designer by education, developer by interest, tinkerer by curiosity.<br/></br>
					I have always been captivated by the world of technology. While all my friends were playing a modified version of a game called <a href="https://otservlist.org" target="_blank">tibia</a>, my focus was on the intricacies of creating my own version.<br/><br/>
					This is where my interest for programming arose as I had to figure out how to host a server, create a database or even change the game code to make it work as I wanted it to work.<br/><br/>
					The process of unraveling complex systems has become a driving force behind my pursuit of the digital domain, ever since the day I first wrote the classic <code>hello world</code> program.
				</span>
			</p>
			<p>
				<em>Creative technologist</em>
				<span>
					Throughout my journey as a creative technologist, I have honed my skills in both design and development, merging the worlds of aesthetics and functionality.<br/><br/>
					With a firm grasp on the principles of (digital) design<sup class="text-sm">*</sup> and a deep understanding of programming<sup class="text-sm">**</sup>, I strive to bring innovative ideas to life that embody the mantra of <a href="https://en.wikipedia.org/wiki/Form_follows_function#:~:text=Form%20follows%20function%20is%20a,its%20intended%20function%20or%20purpose." target="_blank">form follows function</a>.<br/><br/>

					<span class="text-sm">
						<sup>*</sup> <em>With a bachelor's degree in <a href="https://www.cmd-amsterdam.nl" target="_blank">Communication and Multimedia design</a> and a master's degree in <a href="https://www.masterdigitaldesign.com" target="_blank">Digital Design</a> </em><br/><br/>
						<sup>**</sup> <em>With 15+ years of developing experience</em><br/><br/>
					</span>
				</span>
			</p>
			<p>
				<em>What I like to to</em>
				<span>
					Fusing amazing technology with good design. My driving force is to create tools that enhance the performance of professionals and empower individuals, pushing me to go the extra mile.<br/><br/>
	  				Collaborating with individuals from diverse backgrounds to achieve a shared objective is a value I hold dear. I firmly believe that exceptional solutions emerge when we embrace a multitude of perspectives.<br/><br/>
	  				While my focus predominantly lies in the realm of technology, my true strengths lie in the intersection of UX and development. I recognize the value of actively participating in both disciplines, allowing me to enhance my strengths of both.
				</span>
			</p>
			<p>
				<a href="mailto:mail@sanderboer.nl?subject=Let's connect!&body=Hi, I'd like to connect with you," style="cursor: none;">Let's connect</a>
			</p>
		</section>
	</article>
	<ScrollingText text="My work" direction="right" client:load />
	<OtherProjects currentProject="About" />
	<PageProgress color="#E6921C" />
</BaseLayout>

