---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BigTitleItem from "../components/BigTitleItem.astro";

const projects = (await getCollection("project"))
  .filter((project) => !Boolean(project.data.hidden))
  .sort((a, b) => {
    return (
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
    );
  });
console.log(projects);
---

<BaseLayout title="Projects">
  <h1 class="sr-only">My projects</h1>
  <ol class="container pt-56 m-auto -mt-16 space-y-16 lg:space-y-72 pb-72">
    {
      projects.map((project) => (
        <BigTitleItem baseHref="project" {...project} />
      ))
    }
  </ol>
</BaseLayout>
