---
const today = new Date();
---

<footer
  class="bg-purple-300 h-[30vh] flex flex-col lg:flex-row justify-between items-start lg:items-end p-12 py-72 lg:py-12 container max-w-full"
>
  <section class="-rotate-90 -ml-5 lg:mb-9">
    &copy; {today.getFullYear()}, <span class="block">Sander Boer</span>
  </section>
  <ul
    class="flex flex-col space-y-4 mt-10 lg:mt-0 lg:space-y-0 lg:flex-row lg:space-x-12"
  >
    <li>
      <a rel="noreferrer" target="_blank" href="tel:+31636548880">Call me</a>
    </li>
    <li>
      <a rel="noreferrer" target="_blank" href="mailto:mail@sanderboer.nl"
        >Mail me</a
      >
    </li>
    <li>
      <a
        rel="noreferrer"
        target="_blank"
        href="https://www.linkedin.com/in/sander-boer-653110a5"
        >Connect with me</a
      >
    </li>
  </ul>
</footer>
