---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="w-full overflow-hidden sticky top-0 h-14 md:h-14 md:backdrop-blur bg-white md:bg-white/50 z-20 transition-all"
>
  <section
    class="container m-auto flex flex-col md:flex-row justify-between items-center px-6 md:px-0 h-[inherit]"
  >
    <a href="/" class="group">
      <h2
        aria-label="portfolio sander boer"
        class="text-6xl md:text-4xl transition-all -translate-y-2 md:translate-y-6 group-hover:translate-y-0 group-focus:translate-y-0"
      >
        Sander
      </h2>
    </a>
    <label
      class="md:hidden absolute right-2 p-4 font-extrabold"
      for="menu-toggle"
    >
      <input type="checkbox" id="menu-toggle" class="hidden" />
      Menu
    </label>
    <nav
      class="flex flex-1 flex-col md:flex-row space-y-8 md:space-y-0 justify-center md:justify-end w-full text-center"
    >
      <HeaderLink href="/" class="text-6xl md:text-base">Projects</HeaderLink>
      <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
      <HeaderLink href="/page/about" class="text-6xl md:text-base">
        About
      </HeaderLink>
    </nav>
  </section>
</header>

<script>
  const menu = document.getElementById("menu-toggle") as HTMLInputElement;
  const header = document.querySelector("header") as HTMLElement;

  menu?.addEventListener("click", () => {
    if (menu.checked) {
      header.classList.add("h-[100vh]");
    } else {
      header.classList.remove("h-[100vh]");
    }
  });
</script>

<style>
  label[for="menu-toggle"]:has(input:checked) {
    @apply bg-yellow-400;
  }
</style>
