---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="sticky top-0 z-30 w-full overflow-hidden bg-white dark:bg-slate-950 h-14 md:h-14 md:backdrop-blur dark:md:bg-black/50 md:bg-white/50 transition-all"
>
  <section
    class="container m-auto flex flex-col md:flex-row justify-between items-center px-6 md:px-0 h-[inherit]"
  >
    <a href="/" class="group">
      <div
        aria-label="portfolio sander boer"
        class="text-6xl md:text-4xl transition-all -translate-y-2 md:translate-y-6 group-hover:translate-y-0 group-focus:translate-y-0 group-focus:text-slate-900"
      >
        Sander
      </div>
    </a>
    <label
      class="absolute p-4 font-extrabold md:hidden right-2"
      for="menu-toggle"
    >
      <input type="checkbox" id="menu-toggle" class="hidden" />
       Menu
    </label>
    <nav
      class="flex flex-col justify-center flex-1 w-full text-center md:flex-row space-y-8 md:space-y-0 md:justify-end"
    >
      <HeaderLink href="/" class="text-6xl md:text-base">
        Things I made
      </HeaderLink>
      <HeaderLink href="/blog" class="text-6xl md:text-base">
        Things I wrote
      </HeaderLink>
      <HeaderLink href="/page/about" class="text-6xl md:text-base">
        Who is Sander
      </HeaderLink>
    </nav>
  </section>
</header>

<script>
  const menu = document.getElementById("menu-toggle") as HTMLInputElement;
  const header = document.querySelector("header") as HTMLElement;

  menu?.addEventListener("click", () => {
    if (menu.checked) {
      header.classList.add("h-[100vh]");
    } else {
      header.classList.remove("h-[100vh]");
    }
  });
</script>

<style>
  label[for="menu-toggle"]:has(input:checked) {
    @apply bg-yellow-400;
  }
</style>
