---
// @ts-ignore
// import { Img } from "astro-imagetools/components";

export interface Props extends astroHTML.JSX.ImgHTMLAttributes {
  src: string;
  alt: string;
  /**
   * aria-hidden attribute
   */
  hidden?: boolean | "false" | "true";
}

const { hidden, ...rest } = Astro.props;
---

<div aria-hidden={hidden}>
  <!-- <Img loading="lazy" breakpoints={{ count: 4, minWidth: 300, maxWidth: 1024 }} {...rest} background="transparent" /> -->
  <img loading="lazy" width={1920} height={1080} {...rest} />
</div>
