<section
  class="fixed inset-0 z-40 hidden p-2 bg-slate-950 scroll md:p-10 transition-all"
  id="wrapper"
>
  <div class="flex flex-col text-2xl space-y-3" id="content">
    <!-- Content will be filled with JS -->
  </div>
</section>

<script>
  const body = document.querySelector("body");
  const content = document.getElementById("content");
  const wrapper = document.getElementById("wrapper");
  let isIntroDone = false;
  let hasSeenIntro = false;

  const closeIntro = () => {
    if (!isIntroDone) return;
    if (hasSeenIntro) return;

    hasSeenIntro = true;
    // Scroll to top
    // Just in case the user scrolled down
    window.scrollTo(0, 0);

    wrapper?.classList.add("opacity-0", "scale-0");
    localStorage.setItem("lastVisit", new Date().toString());

    setTimeout(() => {
      wrapper?.remove();
    }, 500);
  };

  document.addEventListener("keydown", closeIntro);
  body?.addEventListener("click", closeIntro);

  const lastVisit = localStorage.getItem("lastVisit");

  if (lastVisit) {
    const date1 = new Date(lastVisit).valueOf();
    const date2 = new Date().valueOf();
    const timeDifference = Math.abs(date2 - date1);
    const differenceInHours = Math.ceil(timeDifference / (1000 * 60 * 60));

    if (differenceInHours > 6) {
      wrapper?.classList.remove("hidden");
    } else {
      hasSeenIntro = true;
      wrapper?.remove();
    }
  } else {
    wrapper?.classList.remove("hidden");
  }

  const timeOfDay = (): string => {
    const time = new Date().getHours();

    if (time < 6 || time >= 20) return "evening";
    else if (time >= 12) return "afternoon";
    else if (time >= 6) return "morning";

    return "day to you";
  };

  const isTouchDevice = () => {
    return (
      "ontouchstart" in window ||
      navigator.maxTouchPoints > 0 ||
      (navigator as any).msMaxTouchPoints > 0
    );
  };

  const texts = [
    "Oh hi there...",
    "",
    `Good ${timeOfDay()}`,
    "",
    "My name is sander,",
    "A passionate developer with a creative mind™",
    "",
    "",
    isTouchDevice()
      ? "Touch <code>here</code> to continue"
      : "Press <code>[any key]</code> to continue",
  ];

  texts.forEach((text, index) => {
    const textWrapper = document.createElement("div");
    textWrapper.classList.add(
      "grid",
      "grid-cols-2",
      "md:gap-3",
      "gap-1",
      "grid-cols-[1fr,10fr]"
    );

    const status = document.createElement("span");
    status.innerHTML = "Ok";
    status.classList.add(
      "text-green-600",
      "font-extrabold",
      "px-2",
      "md:px-4",
      "uppercase"
    );
    status.ariaHidden = "true";

    const textContent = document.createElement("div");
    textContent.classList.add("text-slate-50");
    textContent.innerHTML = text;

    textWrapper.appendChild(status);
    textWrapper.appendChild(textContent);

    setTimeout(() => {
      content?.appendChild(textWrapper);
      if (index === texts.length - 1) isIntroDone = true;
    }, (500 + Math.random() * 100) * (index + 1));
  });
</script>

<style is:inline>
  div > span,
  div > code {
    font-family: "Courier New", Courier, monospace;
  }

  div > code,
  div > span::before,
  div > span::after {
    color: white;
  }

  div > span::before {
    content: "[\00a0\00a0";
  }

  div > span::after {
    content: "\00a0\00a0]";
  }
</style>
