<div>
  <div class="sr-only">
    Oh hi there, good day to you. My name is Sander, a passionate developer with
    a creative mind™.
  </div>
  <section
    class="fixed inset-0 z-40 hidden p-2 bg-gray-950 scroll md:p-10 transition-all"
    id="wrapper"
    aria-hidden="true"
  >
    <div class="flex flex-col text-2xl space-y-3" id="content">
      <div class="grid md:gap-3 gap-1 grid-cols-[1fr,10fr]">
        <span class="text-green-600 font-extrabold px-2 md:px-4 uppercase"
          >Ok</span
        >
        <div class="text-slate-50">Oh hi there,</div>
      </div>
      <!-- Content will be filled with JS -->
    </div>
  </section>
</div>

<script>
  const body = document.querySelector("body");
  const wrapper = document.getElementById("wrapper");
  let isIntroDone = false;

  const closeIntro = () => {
    if (!isIntroDone) return;

    document.removeEventListener("keydown", closeIntro);
    body?.removeEventListener("click", closeIntro);

    // Scroll to top
    // Just in case the user scrolled down
    window.scrollTo(0, 0);
    body?.classList.remove("overflow-hidden");

    wrapper?.classList.add("opacity-0", "scale-0");

    setTimeout(() => {
      wrapper?.remove();
    }, 500);
  };

  document.addEventListener("keydown", closeIntro);
  body?.addEventListener("click", closeIntro);

  const timeOfDay = (): string => {
    const time = new Date().getHours();

    if (time < 6 || time >= 20) return "evening";
    else if (time >= 12) return "afternoon";
    else if (time >= 6) return "morning";

    return "day to you";
  };

  const isTouchDevice = () => {
    return (
      "ontouchstart" in window ||
      navigator.maxTouchPoints > 0 ||
      (navigator as any).msMaxTouchPoints > 0
    );
  };

  const touchOrPress = isTouchDevice()
    ? "Touch <code>anywhere</code>"
    : "Press <code>[any key]</code>";

  const texts = [
    "",
    `Good ${timeOfDay()}`,
    "",
    "",
    "My name is sander,",
    "A passionate developer with a creative mind™",
    "",
    "",
    `${touchOrPress} to continue...`,
  ];

  const showIntro = () => {
    if (!wrapper) return;

    body?.classList.add("overflow-hidden");
    wrapper.classList.remove("hidden");
    wrapper?.focus();

    texts.forEach((text, index) => {
      const textWrapper = document.createElement("div");
      textWrapper.classList.add(
        "grid",
        "grid-cols-2",
        "md:gap-3",
        "gap-1",
        "grid-cols-[1fr,10fr]"
      );

      const status = document.createElement("span");
      status.innerHTML = "Ok";
      status.classList.add(
        "text-green-600",
        "font-extrabold",
        "px-2",
        "md:px-4",
        "uppercase"
      );
      status.ariaHidden = "true";

      const textContent = document.createElement("div");
      textContent.classList.add("text-slate-50");
      textContent.innerHTML = text;

      textWrapper.appendChild(status);
      textWrapper.appendChild(textContent);

      setTimeout(
        () => {
          const content = document.getElementById("content");
          content?.appendChild(textWrapper);
          if (index === texts.length - 1) isIntroDone = true;
        },
        (500 + Math.random() * 100) * (index + 1)
      );
    });
  };

  const lastVisit = localStorage.getItem("lastVisit");

  if (lastVisit) {
    const date1 = new Date(lastVisit).valueOf();
    const date2 = new Date().valueOf();
    const timeDifference = Math.abs(date2 - date1);
    const differenceInHours = Math.ceil(timeDifference / (1000 * 60 * 60));

    if (differenceInHours > 6) showIntro();
  } else {
    showIntro();
  }
</script>

<style is:inline>
  #wrapper div > span,
  #wrapper div > code {
    font-family: "Courier New", Courier, monospace;
  }

  #wrapper div > code,
  #wrapper div > span::before,
  #wrapper div > span::after {
    color: white;
  }

  #wrapper div > span::before {
    content: "[\00a0\00a0";
  }

  #wrapper div > span::after {
    content: "\00a0\00a0]";
  }
</style>
