---
type Props = {
  color: string;
};

const { color } = Astro.props;
---

<div
  id="page-scroll-progress"
  class="fixed bottom-0 h-4 z-10"
  style={{ backgroundColor: color }}
>
</div>

<script>
  const listener = () => {
    const scrollOffset =
      window.pageYOffset ||
      document.documentElement.scrollTop ||
      document.body.scrollTop;

    const main = document.querySelector("main");
    const aside = document.querySelector("aside");

    if (!main) return;
    if (!aside) return;

    const scrollableContent =
      main.clientHeight - aside.clientHeight - window.innerHeight;

    const progress = (scrollOffset * 100) / scrollableContent;

    document.documentElement.style.setProperty(
      "--page-scroll-progress",
      progress.toString() + "%"
    );

    const opacity =
      aside.offsetTop - aside.clientHeight - 200 > window.scrollY ? 1 : 0;

    document.documentElement.style.setProperty(
      "--page-scroll-progress-opacity",
      opacity.toString()
    );
  };

  document.addEventListener("scroll", listener);
  document.addEventListener("touchMove", listener);
</script>

<style>
  #page-scroll-progress {
    width: var(--page-scroll-progress);
    opacity: var(--page-scroll-progress-opacity);
  }
</style>
