---
type Props = {
  color: string;
};

const { color } = Astro.props;
---

<div
  id="page-scroll-progress"
  class="fixed bottom-0 z-10 h-4"
  style={{ backgroundColor: color }}
>
</div>

<script>
  const listener = () => {
    const root = document.documentElement

    const scrollOffset =
      window.pageYOffset ||
      root.scrollTop ||
      document.body.scrollTop;

    const main = document.querySelector("main");
    const aside = document.querySelector("aside");

    if (!main) return;
    if (!aside) return;

    const scrollableContent =
      main.clientHeight - aside.clientHeight - window.innerHeight;

    const progress = (scrollOffset * 100) / scrollableContent;

    root.style.setProperty("--page-scroll-progress",progress.toString() + "%");

    const asideRect = aside.getBoundingClientRect();
    // We add 64 because of the `-translate-y-16` in the base layout
    const opacity = asideRect.top - window.innerHeight + 64 > 0 ? 1 : 0;

    root.style.setProperty("--page-scroll-progress-opacity",opacity.toString());
  };

  document.addEventListener("scroll", listener);
  document.addEventListener("touchMove", listener);
</script>

<style>
  #page-scroll-progress {
    width: var(--page-scroll-progress);
    opacity: var(--page-scroll-progress-opacity);
  }
</style>
