<span
  aria-hidden="true"
  class="text-base hidden md:block transition-all duration-300 opacity-20 group-hover:opacity-100 group-hover:-translate-x-12 absolute -translate-x-8 bg-zinc-300 border-gray-300 dark:bg-zinc-800 border dark:border-gray-600 px-2 rounded-lg"
>
  #
</span>
