---
const props = Astro.props;
---

<h3 {...props} class="max-w-screen-md mx-auto mt-32 mb-4">
  <a
    href={`#${props.id}`}
    class="text-2xl -translate-x-6 md:-translate-x-4 group flex items-center font-bold"
  >
    <span
      aria-hidden="true"
      class="text-base hidden md:block transition-all duration-300 opacity-20 group-hover:opacity-100 group-hover:-translate-x-12 absolute -translate-x-8 bg-zinc-800 border border-gray-600 px-2 rounded-lg"
    >
      #
    </span>
    <slot />
  </a>
</h3>
