---
import "@fontsource/space-grotesk";
import "@fontsource/caveat";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Cursor from "../components/Cursor.astro";
import HiFromConsole from "../components/HiFromConsole.astro";
import CopyCode from "../components/CopyCode.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<!-- Made with ❤️ by xiduzo  --><!-- Oh hi there curious driod, seeking for information on how you can build this?  --><!-- You can find all the wisdom you need at https://github.com/xiduzo/portfolio_astro  -->
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="scroll-smooth">
    <CopyCode />
    <HiFromConsole />
    <a
      class="absolute left-0 z-50 p-3 m-3 transition -translate-y-16 motion-reduce:translate-y-0 motion-reduce:opacity-0 motion-reduce:-z-10 motion-reduce:focus:z-50 bg-primary focus:translate-y-0 focus:opacity-100"
      href="#main-content">Jump to content</a
    >
    <Header />
    <main id="main-content" class="z-10 mb-[100vh] shadow-xl">
      <slot />
    </main>
    <Footer />
    <Cursor />
  </body><script>
    setTimeout(() => {
      localStorage.setItem("lastVisit", new Date().toString());
    });

    window.addEventListener("DOMContentLoaded", () => {
      const codeSamples = document.querySelectorAll("pre");

      codeSamples.forEach((codeSample) => {
        codeSample.setAttribute("aria-hidden", "true");
      });
    });
  </script>
</html>
