---
import "@fontsource/space-grotesk";
import "@fontsource/caveat";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Cursor from "../components/Cursor.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="scroll-smooth">
    <Cursor />
    <a
      class="absolute left-0 z-50 p-3 m-3 transition -translate-y-16 bg-primary focus:translate-y-0"
      href="#main-content">Jump to content</a
    >
    <Header />
    <main id="main-content" class="z-10 mb-[100vh] shadow-xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>
