---
import "@fontsource/space-grotesk";
import "@fontsource/caveat";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// @ts-ignore
// import AnimatedCursor from "react-animated-cursor";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="scroll-smooth">
    <a
      class="transition left-0 bg-primary z-30 absolute p-3 m-3 -translate-y-16 focus:translate-y-0"
      href="#main-content">Jump to content</a
    >
    <!-- <AnimatedCursor
      client:only
      showSystemCursor={false}
      trailingSpeed={6}
      innerSize={12}
      innerScale={0.6}
      color="193, 11, 111"
      outerSize={8}
      outerScale={8}
      outerAlpha={0.2}
      clickables={["a", "button"]}
    /> -->
    <Header />
    <main id="main-content" class="z-10 mb-[100vh]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
